@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.info-window-content h3 {
  margin: 0;
  font-size: 14px;
}

.info-window-content p {
  margin: 5px 0;
}

.info-window-content {
  max-width: 150px; /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
  padding: 5px;
  font-size: 12px;
  line-height: 1.2;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-container {
  display: flex;
  align-items: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-text {
  font-size: 16px;
  color: #333;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.customSlider {
  position: relative;
  height: 25px;
  margin: 15px 0;
}

.customSlider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  height: 5px;
}

.customSlider-track.customSlider-track-0 {
  background: #ddd;
}

.customSlider-track.customSlider-track-1 {
  background: #b90bd0; /* Color for the highlighted selected range */
}

.customSlider-thumb {
  height: 20px;
  width: 20px;
  background-color: #b90bd0;
  border-radius: 50%;
  cursor: grab;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.customSlider-thumb:active {
  cursor: grabbing;
}
